#include <winver.h>

VS_VERSION_INFO         VERSIONINFO
  FILEVERSION           2026,0,0,20804
  PRODUCTVERSION        2026,0,0,20804
  FILEFLAGSMASK         VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
  FILEFLAGS             1
#else
  FILEFLAGS             0
#endif
  FILEOS                VOS__WINDOWS32
  FILETYPE              VFT_DLL
  FILESUBTYPE           0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Intel Corporation\0"
      VALUE "FileDescription", "FrontEnd to load and convert ONNX file format\0"
      VALUE "FileVersion", "2026.0.0.20804\0"
      VALUE "InternalName", "openvino_onnx_frontend\0"
      VALUE "LegalCopyright", "Copyright (C) 2018-2026, Intel Corporation\0"
      VALUE "OriginalFilename", "openvino_onnx_frontend.dll\0"
      VALUE "ProductName", "OpenVINO toolkit\0"
      VALUE "ProductVersion", "2026.0.0-20804-2451ff43ea7-pr-33494-1\0"
      VALUE "Comments", "https://docs.openvino.ai/\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
END
